.cbt1 {
    background-color: rgb(226, 122, 114);
}

.cbt1 {
    background-color: rgb(226, 122, 114);
    border: none;
}

.cbt2 {
    background-color: rgb(224, 226, 114);
    border: none;
}

.cbt3 {
    background-color: rgb(114, 226, 151);
    border: none;
}